:root {
    --primary-color: rgb(117, 74, 156);
    --secondary-color: #c0abce;
    --background-color: #eee;
    --text-color: black;
    --font-family: 'roboto'
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--primary-color);
    color: #fff;
}
span {
    font-size: 35px;
    padding: 20px 10px;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
}
.navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    font-size: 1.5rem;
}
.navigation a {
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #fff;
    color: #000;
}

.navigation.open a {
    display: block;
}
.hero picture {
    display: block;
    line-height: 0;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
section div {
    display: flex;
    flex-wrap: wrap;
    gap: 1 rem;
    width: 100%;
}
.event {
    grid-column: 1/2;
    font-size: 20px;
    background-color: #ccc;
    border: solid 1px black;
    padding: 5px;
}
.weather-card {
    grid-column: 2/3;
}
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: var(--background-color);
    padding: 10px;
    text-align: center;
}
.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: #ccc solid 1px;
    border-radius: 5px;
    padding: 10px;
}
.social a:hover {
    background-color: #ddd;
}
footer p {
    font-size: 14px;
}