@media only screen and (min-width: 38rem) {

  #bussiness div {
    grid-template-areas:
      "photograph name"
      "photograph description"
      "photograph location"
    ;
  }
  .hamburguer {
        display: none;
    }
    .navigation{
        display: block;
    }
    .navigation a{
        border-bottom: none;
    }

}