:root {
    --primary-color: #353535;
    --secondary-color: #c29d88;
    --text-color: #f1f1f1;
}
body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    margin: 0 auto;
}
header h1 {
    font-size: 70px;
    margin: 0;
}
h1 {
    text-align: center;
    align-self: center;
    margin-bottom: 20px;
    color: var(--text-color);
}
#menu {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
    color: whitesmoke;
}
#menu::before {
    content: "☰";
}
#menu.show::before {
    content: "X";
}
.navigation a:hover,
.navigation a:active {
    color: rgb(37, 37, 37);
    background-color: rgb(255, 255, 255);
}
nav ul {
    list-style: none;
    display: flex;
}
nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fcfcfc;
    padding: 1rem;
    font-size: larger;
    border: #fcfcfc 1px solid;
    margin: 0.5rem;
}
nav a:hover {
    text-decoration: underline;
    color: var(--color-background);
    background-color: var(--color-link-hover);
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.chess {
    font-size: 20px;
    margin: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--color-text);
}
@media only screen and (min-width: 40em) {
	h1 {
		font-size: 2rem;
	}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}